<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alumno</title>
    <link rel="stylesheet" type="text/css" href="../design/pantallas.css">
  </head>
  <body>
    <h3>AVISOS</h3>
    <p>
      Las reinscripciones se han pospuesto hasta nuevo aviso. Comuníquese con
      su tutor para más detalles.
    </p>
    <i>Administración</i>
    <table align="center">
      <tr>
        <th>Materia</th>
        <th>Calificaciones</th>
        <th>Horario</th>
      </tr>
      <tr>
        <td>Astronomía</td>
        <td>9</td>
        <td>Lunes a Viernes de 9:00 a 10:00</td>
      </tr>
      <tr>
        <td>Matemáticas Intermedias</td>
        <td>8</td>
        <td>Lunes a Jueves de 10:00 a 11:00</td>
      </tr>
      <tr>
        <td>Cultura Terrana<br>(Enfásis en la Gran Colombia)</td>
        <td>6</td>
        <td>Martes a Viernes de 12:00 a 12:30</td>
      </tr>
      <tr>
        <td>Historia Universal Contemporánea</td>
        <td>10</td>
        <td>Lunes a Viernes de 12:30 a 13:30</td>
      </tr>
      <tr>
        <td>Taller de creación electrónica</td>
        <td>9</td>
        <td>Lunes a Jueves de 13:30 a 14:30</td>
      </tr>
      <tr>
        <td>Ciudadanía</td>
        <td>5.9</td>
        <td>Lunes a Viernes de 14:30 a 15:00</td>
      </tr>
    </table>
  </body>
</html>
