<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alumno</title>
    <link rel="stylesheet" type="text/css" href="../design/pantallas.css">
  </head>
  <body>
    <h3>AVISOS</h3>
    <p>
      Recuerden estar en contacto con sus estudiantes. Recuerden que cada
      marciano educado es un marciano libre.
      Sigan así.
    </p>
    <i>Dirección</i><br>
    <h3>Entrega de calificaciones</h3>
    <table align="center">
      <tr>
        <th>Materia</th>
        <th>Calificaciones</th>
        <th>Horario</th>
      </tr>
      <tr>
        <td>Astronomía</td>
        <td>Entregado</td>
        <td>Lunes a Viernes de 9:00 a 10:00</td>
      </tr>
      <tr>
        <td>Introducción a la física</td>
        <td>Entregado</td>
        <td>Lunes, Miércoles y Viernes de 10:15 a 11:45</td>
      </tr>
      <tr>
        <td>Introducción al cálculo</td>
        <td>Falta el grupo <br> A456</td>
        <td>Martes a Viernes de 12:00 a 14:00</td>
      </tr>
      <tr>
        <td>Cálculo Integral</td>
        <td>Pendiente</td>
        <td>Martes, Jueves y Sábado de 12:30 a 13:30</td>
      </tr>
      <tr>
        <td>Taller de creación electrónica</td>
        <td>Falta el grupo <br> B512</td>
        <td>Lunes a Miércoles de 8:00 a 9:00</td>
      </tr>
      <tr>
        <td>Matemáticas para las artes</td>
        <td>Entregado</td>
        <td>Sábado de 13:30 a 15:00</td>
      </tr>
    </table>
  </body>
</html>
