<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alumno</title>
    <link rel="stylesheet" type="text/css" href="../design/pantallas.css">
  </head>
  <body>
    <h3>AVISOS</h3>
    <p>
      Recuerden estar en contacto con sus estudiantes. Recuerden que cada
      marciano educado es un marciano libre.
      Sigan así.
    </p>
    <i>Dirección</i><br>
    <form action="../dynamics/actividad17.php" method="post">
      <input type="submit" value="Regresa">
    </form>
  </body>
</html>
