<!DOCTYPE html>
  <!-- Actividad 19. La chicharronera
  Este formulario envía los valores de una ecuación cuadrática de la forma
  ax^2+bx+c=0 a un programa que calcula los valores que satisfacen esa
  ecuación.
  Equipo Alfa Buena Maravilla Onda Dinamita Escuadrón Lobo -->
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>La Chicharronera</h1>
    <form action="../dynamics/actividad19.php" method="GET">
      <fieldset>
        <legend>Ingresa los términos de la ecuación</legend>
        a: <input type="number" name="a">
        b: <input type="number" name="b">
        c: <input type="number" name="c">
      </fieldset>
      <input type="submit" value="Soluciona">
    </form>
  </body>
</html>
